<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956610071650-9php7idevltacpour5k903rat5to1qod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956610071650-9php7idevltacpour5k903rat5to1qod</string>
	<key>API_KEY</key>
	<string>AIzaSyCitGsx-oL7tdtZObUM4kj2CnBGtqT6LGA</string>
	<key>GCM_SENDER_ID</key>
	<string>956610071650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moeisadeghi.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-8282e</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-8282e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956610071650:ios:08d684e53208901594553b</string>
</dict>
</plist>